.tags {
  display: flex;
  gap: .5rem;
  width: 450px;
  flex-wrap: wrap;
  margin: .6rem 0;
}

.tag {
  display: flex;
  align-items:center;
  justify-content: center;
  width: auto;
  padding: 0 .5rem;
  height: 40px;
  background-color: rgb(204, 204, 204);
  border-radius: .2rem;
}