.student {
  display: grid;
  width: 860px;
  border-bottom: 1px solid rgb(179, 179, 179);
  grid-template-columns: 13rem 1fr 1fr;
  grid-template-rows: 1fr ;
  transition: all .1s ease-in-out;
}

.student-pic {
  border-radius: 100px;
  border: 1px solid rgb(100, 100, 100);
  height: 150px;
  width: 150px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
  margin: 1.5rem;
  transition: all .1s ease-in-out;
}

.student-pic img {
  width: 120px;
  height: 120px;
}

.student-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 1rem;
  gap: .2rem;
  margin-bottom: 1rem;
  transition: all .1s ease-in-out;
}

.student-details > span {
  font-size: 1.1rem;
  color: black;
}

.student__name {
  font-size: 1.3rem
}

.button {
  font-size: 5rem;
  border: none;
  color: grey;
  background-color: transparent;
  cursor: pointer;
  margin-right: .5rem;
}

.button:hover {
  color: black;
}

.btn-container {
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.students-tests {
  height: 170px;
  width: 13rem;
  grid-area: 2/2;
  margin-top: 1rem;
}

.students-grade {
  font-size: 1.1rem;
  color: black;
  display: flex;
  flex-direction: column;
  gap: .2rem;
}

.add-tag-input {
  border: none;
  border-bottom: 2px solid rgb(179, 179, 179);
  padding-bottom: .6rem;
  margin: .5rem 0;
  font-size: 1.1rem;
  color: grey;
  outline: none;
  transition: all .1s ease-in-out;
}

.add-tag-input:focus {  
  border-bottom: 2px solid rgb(0, 0, 0);
}

@media only screen and (max-width: 700px) {
  .student {
    width: 30rem;
    display: grid;
    grid-template-columns: 8rem 18rem 1fr;
    grid-template-rows: 1fr ;
  }

  .student-details > span, .students-grade {
    font-size: .9rem;
  }

  .students-tests {
    height: 120px;
  }

  .add-tag-input {
    font-size: .9rem;
  }

  .student-pic, .student-pic img {
    height: 90px;
    width: 90px;
  }
}