.students-container {
  height: 700px;
  width: 860px;
  box-shadow: 1px 2px 5px rgb(184, 184, 184);
  overflow: hidden;
  overflow-y: scroll;
  background-color: white;
  border-radius: .5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.students-container::-webkit-scrollbar {
  display: none;
}